@charset "UTF-8";

body > header {
	padding-bottom: 0rem;
}

form[method=get] p {
	display: inline-block;
	margin-inline-end: 1em;
}

table {
    display: table; /* 横幅 100% */
}

mark {
    font-size: small;
    vertical-align: text-bottom;
}

._center {
	text-align: center;
}
